img{
    background-color: blue;
    border-radius: 50%;

}

h1{
    color: purple;
    background-color: yellow;
}

.txt{
    background-color: yellowgreen;
}
.txt1{
    background-color: green;
}
.txt2{
    background-color: brown;
}