.articletop {
    padding: 50px;
    margin: 30px;
    /* background-color:rgb(19, 18, 18); */
    text-align: center;
    
  }
  .descriptionImage {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  .card{
    width: 350px;
    height: 350px;
    margin-top: 20px;
    border-radius: 20px;
    /* border-color: rgb(145, 141, 141); */
    box-shadow: 2px 2px black;
    margin: 50px;
    border:solid 2px black;
   
  }
  .card-img-top{
    width: 350px;
    height: 350px;
    padding: 20px;
    border-radius: 40px;

  }
 
  .headingtop{
    text-align: start;
    padding-left: 400px;
    margin: 20px;
  }
  .searchtop{
  padding:10px;
  /* text-align: center; */
  border-radius:10px;
  border-color: rgb(89, 91, 218);
  margin-right: 10px;
  width: 70%;
  margin-right: 5%;
  color: rgb(12, 12, 12);
  font-weight: 700;
  }
  .submittop{
    padding: 3px;
    border-radius: 5px;
    border-color: rgb(195, 143, 54);
   font-weight: 500;
   
   
  }
  .bottom{
    text-align: center;
    color:red;
    font-weight: 600;
    padding: 10px;
  }
  .navbar{
    color:rgb(107, 32, 32);
    padding: 60px;
    font-size: 18px;
    background-color:lightgreen;
 
  }